<!doctype html>
{% include head.html %}

<body class="padding-y-3">
  <main class="grid-container">
    {{ content }}

    <h2>Headings</h2>
    <h1 class="{{ page.h1-class }}">{{ page.h1-text }}</h1>
    <h2 class="{{ page.h2-class }}">{{ page.h2-text }}</h2>
    <h3 class="{{ page.h3-class }}">{{ page.h3-text }}</h3>
    
    <h2>Buttons</h2>
    <button class="{{ page.button-class }}">{{ page.button-text }}</button>

    <h2>Inputs</h2>
    <input type="text" placeholder="{{ page.input-text }}" class="{{ page.input-class }}">

  </main>
  
{% include foot.html %}
